{
    "presets": [
        "@babel/env",
        "@babel/react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        ["babel-plugin-styled-components", { 
            "ssr": false,
            "displayName": true,
            "meaninglessFileNames": ["index", "styles"],
            "pure": true,
            "namespace": "react-template"
        }],
        ["babel-plugin-module-resolver", {
            "root": ["./src"],
            "alias": {
                "@app": "./src/app"
            }
        }]
    ],
    "env": {
        "dev": {
            "plugins": [
                ["babel-plugin-styled-components", { 
                    "minify": false,
                    "transpileTemplateLiterals": false
                }]
            ]
        }
    }
}